.leads {
  width: 500px;
  margin: auto;
  text-align: center;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
  margin: 10px auto;
  color: #333;
}

.add-lead-form {
  margin: 0 auto;
  max-width: 400px;
}

.add-lead-form input {
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
}

.add-lead-form button {
  font-weight: 300;
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px auto;
  width: 100%; /* Full width for mobile */
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.add-lead-form button:hover {
  background-color: #6176b3;
}

.leads-list {
  list-style-type: none;
  padding: 0;
}

.lead-item {
  padding: 10px;
  background-color: #fafafb;
  margin-bottom: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.lead-item:hover {
  background-color: #e3d8fc;
}

.lead-details {
  margin-top: 20px;
  padding: 15px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.lead-details h2 {
  margin-top: 0;
  color: #333;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .leads {
    width: 100%; /* Full width on mobile */
    margin: 0 auto; /* Center the container */
    padding: 15px; /* Adjust padding */
  }

  .add-lead-form {
    margin: 0 auto;
    padding: 0; /* Adjust padding on mobile */
  }

  .add-lead-form input,
  .add-lead-form button {
    width: 100%; /* Full width for input and button */
    margin: 10px 0; /* Vertical spacing */
  }

  .lead-item {
    padding: 8px;
    font-size: 14px;
  }

  .lead-details {
    margin-top: 10px;
  }
}

@media (max-width: 480px) {
  .leads {
    padding: 10px; /* Further reduce padding */
  }

  h1 {
    font-size: 1.5rem; /* Adjust font size */
  }
  .leads{
    width: 200px;
    margin-left: 120px;
  }
}
