 /* Sidebar Styles */
.sidebar {
  text-align: center;
  width: 250px;
  background-color: #34495e;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  position: fixed;
  height: 100%;
  transition: width 0.3s ease;
}

.sidebar img {
  width: 150px;
  margin-bottom: 20px;
  border-radius: 100%;
}

/* Sidebar Links */
.sidebar-links {
  display: flex;
  flex-direction: column;
}

.sidebar-link {
  color: white;
  text-decoration: none;
  padding: 10px;
  display: flex;
  align-items: center;
  transition: background-color 0.3s, transform 0.2s;
  border-radius: 5px;
}

/* Hover Effect for Links */
.sidebar-link:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transform: scale(1.1); /* Slightly enlarge icon */
}

/* Link Text */
.link-text {
  margin-left: 10px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .sidebar {
    width: 60px;
  }

  .sidebar img {
    display: none;
  }

  .link-text {
    display: none;
  }

  .sidebar-link:hover {
    transform: scale(1.2); /* Increase scale on hover for mobile */
  }
}
